@inherits LayoutComponentBase

<PageTitle>OcWebSp</PageTitle>

<div class="page">
    <main>
        <nav class="px-4 border-1 navbar navbar-expand-lg navbar-light " style="border-width:1px;border:solid">
            <img src="img/Logo.png" class="" style="width:160px" />
            <div class="navbar-nav container-fluid">
                
                <NavLink class="nav-link mx-4" href="/">Home</NavLink>


                <NavLink class="nav-link" href="/cursos">Cursos</NavLink>
                <button onclick="@BtnEntrar_Clicked" class="border-1 px-5 text-end bg-white">Entrar</button>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [Inject]
    NavigationManager NavigationManager{ get; set; }
    public void BtnEntrar_Clicked()
    {
        NavigationManager.NavigateTo("/login");
    }
}
