@inherits LayoutComponentBase

<PageTitle>OcWebSp</PageTitle>

<div class="page">
    <main>
        <nav class="px-4 border-1 navbar navbar-expand-lg navbar-light " style="border-width:1px;border:solid">
            <div class="row">

                <img src="img/Logo.png" class="" style="width:160px" />
                <div class="navbar-nav container-fluid">
                    <NavLink class="nav-link mx-4" href="/">Home</NavLink>
                    <NavLink class="nav-link" href="/cursos">Cursos</NavLink>
                    <button onclick="" class="border-1 px-5 text-end bg-white">Sair</button>
                    <span>01:30:00</span>
                </div>
            </div>
        </nav>

        <article>
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] public IJSRuntime JSRuntime { get; set; }

    protected async override void OnInitialized()
    {
        var resultado = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem","perfil");
        base.OnInitialized();
    }
}
