<NavLink class="navbar navbar-nav">
    <div class="nav nav-justified">
        <img src="img/Logo.png" />
        <NavLink class="nav-item" href="/">Home</NavLink>
        <NavLink class="nav-item" href="/cursos">Cursos</NavLink>
        <button class="btn btn-success">Entrar</button>
    </div>
</NavLink>

@code {

}
