@page "/details"

<div class="row">
    <div class="col-12">
        <p>Details of "Property title" at Seacho-gu</p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="img/Sem título.png" class="img-fluid" />
    </div>
    <div class="col-4">
        <img src="img/67818816.jpg" class="img-fluid" />
    </div>
    <div class="col-4">
        <img src="img/67818817.jpg" class="img-fluid" />
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <p class="fs-6">Capacity: 2 Bedrooms: 1 Beds: 1 Bathrooms: 1</p>
        <p class="fs-5 fw-bold">Description</p>
        <p class="fs-6">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        <p class="fs-5 fw-bold">Host rules</p>
        <p class="fs-6">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
    </div>
    <div class="col-4 ">
        <p class="fw-bolder text-center">Available Amenities:</p>
        <p class="text-center"> WIFI</p>
        <p class="text-center"> TV - DVD</p>
        <p class="text-center"> Bathroom</p>
    </div>
    <div class="col-4 align-items-end">
        <p class="text-end">Check-in: dd/mm/yyyy</p>
        <p class="text-end">Check-out: dd/mm/yyyy</p>

        <div class="text-end">
            <span class="text-end">Reserve for</span>
            <input type="number" class="w-25" min="1" />
            <span>ppl</span>
        </div>


        <p class="mt-5 text-end fw-bold">Payable Amount: 90 USD</p>
        <div class="text-end">
            <button class="p-2">Reserve Now</button>
        </div>
    </div>
</div>
@code {

}
