@page "/Error"

<section class="row">
    <div class="col-12">
        <img class="img-fluid" src="/img/230-sad.png" />
    </div>
    <div class="col-12">
        <p class="text-center fs-3">Unfortunaly, your payment was not successful</p>
    </div>
    <div class="col-12">
        <div class="border border-1 border-dark p-4">
            <p>The reason for the transaction error:</p>
            <p>xxxxxxxxxxxxxxxxxxx</p>
        </div>
    </div>
</section>

@code {

}
