@page "/search"
@using BlazorApp1.Data.Models;
@using BlazorApp1.Data.Services;

<section class="row">
    <p>Reservation Results for Seocho-gu from 25/11/2022 for 1 night</p>
</section>
<section class="row">
    @foreach (var propriedade in ListaPropriedades)
    {
        <div class="col-xl-3 col-md-4 col-sm-6 col-6">
            <div class="card border border-dark">
                <div class="card-body">
                    <a href="/details/@propriedade.Id">
                        <img height="150" width="150" />
                    </a>
                    <p>@propriedade.Title</p>
                    <div>
                        <label>@propriedade.AreaID</label>
                        <label>Pessoas @propriedade.Capacity</label>
                    </div>
                    <label>total price: @propriedade.Price $</label>
                </div>
            </div>
        </div>
    }
</section>
@code {
    [Inject]
    private ItemService itemService { get; set; }

    IList<Items> ListaPropriedades;
    protected override Task OnInitializedAsync()
    {
        ListaPropriedades = itemService.GetItems();
        return base.OnInitializedAsync();
    }
}
