@page "/success"

<section class="row">
    <div class="col-12 text-center">
        <img class="img-fluid" src="/img/226-smile.png" />
    </div>
    <div class="col-12">
        <p class="text-center fs-3">Congrulations, the accommodation has been booked for you from DDth of Month We wish you a pleasant stay!</p>
    </div>
    <div class="col-12">
        <div class="border border-1 border-dark p-4">
            <p>Payment details</p>
            <p>Transaction N°: xxxxxx</p>
            <p>Property title:xxxxxxxxxx</p>
            <p>Total fee: $90</p>
        </div>
    </div>
</section>

@code {

}
