@page "/success/{Token}"
@using BlazorApp1.Data.Models;
@using BlazorApp1.Data.Services;
@using Newtonsoft.Json;
@using OcMundial.Data.Models;

<section class="row">
    <div class="col-12 text-center">
        <img class="img-fluid" src="/img/226-smile.png" />
    </div>
    <div class="col-12">
        <p class="text-center fs-3">Congrulations, the accommodation has been booked for you from 12 of August We wish you a pleasant stay!</p>
    </div>
    <div class="col-12">
        <div class="border border-1 border-dark p-4">
            <p>Payment details</p>
            <p>Transaction N°: @status.orderId</p>
            <p>Property title: @item.Title</p>
            <p>Total fee: $@status.price</p>
        </div>
    </div>
</section>

@code {
    [Inject]
    ItemService itemService { get; set; }

    [Parameter]
    public string Token { get; set; }

    public PaymentStatus status;
    public Items item;
    protected override void OnInitialized()
    {
        //consumir API para recuperar as informaçoes do pagamento
        HttpClient client = new HttpClient();
        string json = client.GetStringAsync("https://localhost:5001/Payment/VerifyPayment?trackId=" + Token).Result;
        status = JsonConvert.DeserializeObject<PaymentStatus>(json);
        List<Items> itemList = itemService.GetItems();
        long id = Convert.ToInt64(status.orderId);
        item = itemList.Where(x => x.Id == id).FirstOrDefault();
        base.OnInitialized();
    }
}
