@page "/cursos"
<h3>Cursos</h3>


<div class="row text-center" style="height:1000px">
    <div class="card col-md-3 col-sm-6">
        <h4>Back-End</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    <div class="card col-md-3 col-sm-6">
        <h4>Back-End</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    <div class="card col-md-3 col-sm-6">
        <h4>Back-End</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    <div class="card col-md-3 col-sm-6">
        <h4>Back-End</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
</div>

@code {

}
