@page "/"

<PageTitle>Index</PageTitle>

<h3>Avisos</h3>

<SlickCarousel Id="myCarousel" Class="my-carousel">

    <div class="carousel-item">
        <img src="img/download.jpg" alt="Slider Image" />
        <div class="carousel-text">
            <h3>Aviso 1</h3>
            <p>qwdqwdqwdqwqdfqwdqwdqwffqwdqwqwqwfqfqwfq</p>
        </div>
    </div>

</SlickCarousel>

@code
{
    [Parameter]
    public string Id { get; set; }
}
