@page "/login"
@layout LoginLayout

@using OcWebSp.Data.Models;


<div class="form-control">
    <EditForm Model="@usuario" OnSubmit="@SubmitLogin" class="p-5">
        <div class="col-12 text-center m-4">
            <img src="img/Logo.png" class="" style="width:800px" />
        </div>
        <div class="col-12 text-center my-4">
            <InputText @bind-Value="usuario.Email" type="email" placeholder="E-mail" class="form-control" />
        </div>
        <div class="col-12 text-center my-4">
            <InputText @bind-Value="usuario.Senha" type="password" placeholder="Senha" class="form-control" />
        </div>
        <div class="col-12 text-center my-4">
            <button type="submit" class="btn fw-bold w-50" style="border-color:black">Entrar</button>
        </div>
    </EditForm>
</div>

@code {
    [Inject]NavigationManager navigation { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }

    Usuario usuario = new Usuario();

    public async void SubmitLogin()
    {
        HttpClient client = new HttpClient();
        List<Usuarios> usuarioList = await client.GetFromJsonAsync<List<Usuarios>>("https://localhost:5001/api/Usuarios");
        List<Pessoas> pessoaList = await client.GetFromJsonAsync<List<Pessoas>>("https://localhost:5001/api/Pessoas");
        List<Usuario> LoginList = pessoaList.Join(usuarioList, x => x.Id, y => y.Id, (x, y) => new Usuario
            {
                Email = x.Email,
                Senha = y.Senha
            }).ToList<Usuario>();

        int teste = 0;
        
        foreach (Usuario usu in LoginList)
        {
            if (usu.Email != usuario.Email && usu.Senha != usuario.Senha)
            {
                //Exibir mensagem de login incorreto
                teste = -2;
            }
            else
            {
                if (usu.Email == usuario.Email && usu.Senha != usuario.Senha)
                {
                    //Exibir mensagem de Senha incorreta
                    teste = -1;
                    break;
                }
                else
                {
                    if (usu.Email == usuario.Email && usu.Senha == usuario.Senha)
                    {
                        teste = 0;
                        break;
                    }
                }
            }
        }
        if (teste == -1)
        {
            //Exibir mensagem de login incorreto
        }else
        {
            if (teste == -2)
            {
                //Exibir mensagem de Senha incorreta
            }else
            {
                
                JSRuntime.InvokeVoidAsync("sessionStorage.setItem","","");
                navigation.NavigateTo("/u?Id=1");
            }
        }
    }
}
