@inherits LayoutComponentBase

<PageTitle>OcMundial</PageTitle>



<header class="container-fluid bg-info py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col order-0">
                <img src="img/wsc2022se_tp09_logo_actual_en.png" height="60" />
            </div>
            <div class="col-md-6 order-2">
                <input class="mt-3 mt-sm-0 form-control" placeholder="Seacho-gu" />
            </div>
            <div class="col order-1 order-sm-last text-end">
                Welcome John Doe
            </div>
        </div>
    </div>
</header>
<main class="container bg-white">
    @Body
</main>
<footer>
</footer>

